
/* 
This rule, makes the menu items to be invisible, while not selected.
In react-stacked-menu, we do not use them.

Technically, this is all needed for menu to work, well in an ugly way :D

To make it look like a sidebar, or top bar, you need to write css
 */
.react-stacked-menu ul:not(.active) {
  display: none;
}
